<div class="container">
	<%= form_for @question do |f| %>
	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.text_area :content, id: "pagedownMe", class: "form-control", rows: 10 %>
	</div>
	<%= f.submit %> <%= button_to "Show Preview", '#', :class => "button", :id => "preview", :method => :get  %>
	<% end %>

</div>

<script type="text/javascript">
(function () {
	$("textarea#pagedownMe").pagedownBootstrap();
})();
</script>
