<div class="container">
  <div class="question">
    <h1 class="question-heading col-md-offset-1"><%= @question.title.humanize %></h1>
    <div class="row">
      <div class="stats-vertical col-md-1">
        <div class="stat col-md-12">
          <span class="number"><%= @question.answers.count %></span>answers
        </div>
        <div class="stat col-md-12">
          <span class="number"><%= @question.comments.count %></span>comments
        </div>
        <div class="stat col-md-12">
          <span class="number"><%= @question.votes.count %></span>votes
        </div>
      </div>
      <div class="col-md-8">
        <div class="question-content">
          <%= @question.content %>
        </div>
      </div>
    </div>
  </div>
  <% if @question.answers %>
    <div class="answer">
      <h2>Answers</h2>
      <div class="col-md-8">
        <% @question.answers.each do |answer| %>
          <div class="answer-content">
            <p><%= answer.content %></p>
            <%= render partial: "/users/show", locals: { type: answer } %>
            <p><%= answer.created_at %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
