<div class="container">
  <% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <div class="question">
    <div class="row">
      <div class="question-author col-md-1">
        <img height="50" width="50" src=<%= @question.author.avatar_url %>>
      </div>
      <div class="question-heading col-md-11">
        <h1><%= @question.title.humanize %></h1>
        <% if @question.updated_at > @question.created_at %>
        <h5 class="text-muted">Edited <%= last_edited(@question) %> ago</h5>
        <% end %>
        <h4><%= link_to @question.author.username, user_path(@question.author.id) %></h4>
      </div>
    </div>
    <div class="row">
      <div class="stats-vertical col-md-1">
        <div class="stat col-md-12">
          <span class="number"><%= @question.answers.count %></span>answers
        </div>
        <div class="stat col-md-12">
          <span class="number"><%= @question.comments.count %></span>comments
        </div>
        <div class="stat col-md-12">
          <span class="number vote_count"><%= @question.vote_count %></span>votes
          <div class="row">
            <% if logged_in? %>
            <%= link_to "⇡", question_upvote_path(@question), method: :post, remote: true, class: "upvote btn-xs btn-success" %>
            <%= link_to "⇣", question_downvote_path(@question), method: :post, remote: true, class: "downvote btn-xs btn-danger" %>
            <% else %>
            <%= link_to "⇡", "#", class: "btn-xs btn-default no-vote" %>
            <%= link_to "⇣", "#", class: "btn-xs btn-default no-vote" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="question-content">
          <%= markdown @question.content %>
        </div>
        <% if logged_in? %>
          <% if @question.author.id == current_user.id %>
           <%= link_to "Edit", edit_question_path, class: "edit-question" %>
          <% end %>
        <% end %>

        <%= link_to "Show Comments", "", class: "show-question-comments" %>
        <%= link_to "Hide Comments", "", class: "hide-question-comments", style: "display: none;" %>


        <div class="question-comments col-md-12" style="display: none;">
          <div class="comments">
            <% @question.comments.each do |comment| %>
            <div class="comment-content">
              <%= render partial: "/comments/show", locals: { comment: comment } %>
            </div>
            <% end %>
          </div>

          <div class="new-comment-form-div" data-question-id=<%= @question.id %> style="display: none;">
            <%= render partial: "/comments/new_question_comment", locals: {question: @question, comment: @question.comments.build } %>
          </div>
          <% if logged_in? %>
            <div class="add-comments">
              <%= link_to "Add Comment", "", class: "show-add-comment" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
  <% if @answers %>
  <div class="answer">
    <h2>Answers</h2>
    <div class="row">
      <div id="single-answer" class="col-md-8">
        <% @answers.each do |answer| %>
        <%= render partial: "/answers/show", locals: { question: @question, answer: answer } %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

<% if logged_in? %>
  <%= render partial: "/answers/new", locals: { question: @question, answer: @question.answers.build } %>
  <% else %>
  <div class="row">
    <div class="col-md-3 col-md-offset-3 log-in-link">
      <%= button_to "Log in to Answer Quesitons", login_path, class: "btn btn-primary", method: "get" %>
    </div>
  </div>
   <% end %>
</div>



