<div class="container">
  <div class="question">
    <div class="row">
      <div class="question-author col-md-1">
        <img height="50" width="50" src=<%= @question.author.avatar_url %>>
      </div>
      <div class="question-heading col-md-11">
        <h1><%= @question.title.humanize %></h1>
        <h4><%= @question.author.username %></h4>
      </div>
  </div>
    <div class="row">
      <div class="stats-vertical col-md-1">
        <div class="stat col-md-12">
          <span class="number"><%= @question.answers.count %></span>answers
        </div>
        <div class="stat col-md-12">
          <span class="number"><%= @question.comments.count %></span>comments
        </div>
        <div class="stat col-md-12">
          <span class="number vote_count"><%= @question.vote_count %></span>votes
          <div class="row">
            <% if logged_in? %>
              <%= link_to "⇡", question_upvote_path(@question), method: :post, remote: true, class: "upvote btn-xs btn-success" %>
              <%= link_to "⇣", question_downvote_path(@question), method: :post, remote: true, class: "downvote btn-xs btn-danger" %>
            <% else %>
              <%= link_to "⇡", "#", class: "btn-xs btn-default" %>
              <%= link_to "⇣", "#", class: "btn-xs btn-default" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="question-content">
          <%= @question.content %>
        </div>
      <div class="question-comments col-md-12">
        <%= render partial: "/comments/show", locals: { comments: @question.comments } %>
      </div>
      </div>
    </div>
  </div>
  <% if @question.answers %>
  <%= render partial: "/answers/show", locals: { question: @question } %>
  <% end %>

</div>



