<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="col-md-4 col-md-offset-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title">Login to AwwNuts</h1>
    </div>
    <div class="panel-body">
      <%= form_tag(login_path, method: :post, class: "form-horizontal") do %>
        <div class="form-group">
          <%= label_tag :email, nil, class: "col-md-2 col-md-offset-1 control-label" %>
          <div class="col-md-8">
            <%= text_field_tag :email, nil, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :password, nil, class: "col-md-2 col-md-offset-1 control-label" %>
          <div class="col-md-8">
            <%= password_field_tag :password, nil, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-3 col-md-offset-3">
            <%= submit_tag "Login", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>