<h1>Create an Account</h1>
<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="form-group">
    <%= f.label :avatar_url %>
    <%= f.text_field :avatar_url, value: nil %>
  </div>
  <div class="form-group">
    <%= f.label :catch_phrase %>
    <%= f.text_field :catch_phrase %>
  </div>
  <div class="form-group">
    <%= f.submit "Create Account" %>
  </div>
<% end %>