<div class="col-md-2">
  <div class="stat">
    <div class="avatar">
      <img height="30" width="30" src="<%= answer.author.avatar_url %>" />
    </div>
    <span class="number vote_count"><%= answer.vote_count %></span>votes
    <div class="row">
      <% if logged_in? %>
      <%= link_to "⇡", question_answer_upvote_path(question, answer), method: :post, remote: true, class: "upvote btn-xs btn-success" %>
      <%= link_to "⇣", question_answer_downvote_path(question, answer), method: :post, remote: true, class: "downvote btn-xs btn-danger" %>
      <% else %>
      <%= link_to "⇡", "#", class: "btn-xs btn-default" %>
      <%= link_to "⇣", "#", class: "btn-xs btn-default" %>
      <% end %>
    </div>
  </div>
</div>
<div class="col-md-10 answer-content">
  <p><%= answer.content %></p>
  <p><%= link_to answer.author.username %> - <%= time_ago_in_words(answer.created_at) %> ago</p>

  <%= link_to "Show Comments", "", class: "show-answer-comments" %>
  <%= link_to "Hide Comments", "", class: "hide-answer-comments", style: "display: none;" %>

  <div class="answer-comments col-md-12" style="display: none;">
    <%= render partial: "/comments/show", locals: { comments: answer.comments } %>
  </div>
</div>
